/* be-vietnam-pro-latin-100-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 100;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-100-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-100-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-100-italic.ttf)
		format("truetype");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

/* be-vietnam-pro-latin-200-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 200;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-200-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-200-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-200-italic.ttf)
		format("truetype");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

/* be-vietnam-pro-latin-300-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 300;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-300-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-300-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-300-italic.ttf)
		format("truetype");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

/* be-vietnam-pro-latin-400-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 400;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-400-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-400-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-400-italic.ttf)
		format("truetype");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

/* be-vietnam-pro-latin-500-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 500;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-500-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-500-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-500-italic.ttf)
		format("truetype");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

/* be-vietnam-pro-latin-600-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 600;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-600-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-600-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-600-italic.ttf)
		format("truetype");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

/* be-vietnam-pro-latin-700-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 700;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-700-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-700-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-700-italic.ttf)
		format("truetype");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

/* be-vietnam-pro-latin-800-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 800;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-800-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-800-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-800-italic.ttf)
		format("truetype");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

/* be-vietnam-pro-latin-900-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 900;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-900-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-900-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-900-italic.ttf)
		format("truetype");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

/* be-vietnam-pro-latin-ext-100-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 100;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-100-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-100-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-100-italic.ttf)
		format("truetype");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* be-vietnam-pro-latin-ext-200-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 200;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-200-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-200-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-200-italic.ttf)
		format("truetype");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* be-vietnam-pro-latin-ext-300-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 300;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-300-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-300-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-300-italic.ttf)
		format("truetype");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* be-vietnam-pro-latin-ext-400-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 400;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-400-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-400-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-400-italic.ttf)
		format("truetype");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* be-vietnam-pro-latin-ext-500-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 500;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-500-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-500-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-500-italic.ttf)
		format("truetype");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* be-vietnam-pro-latin-ext-600-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 600;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-600-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-600-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-600-italic.ttf)
		format("truetype");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* be-vietnam-pro-latin-ext-700-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 700;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-700-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-700-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-700-italic.ttf)
		format("truetype");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* be-vietnam-pro-latin-ext-800-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 800;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-800-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-800-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-800-italic.ttf)
		format("truetype");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* be-vietnam-pro-latin-ext-900-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 900;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-900-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-900-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/latin-ext-900-italic.ttf)
		format("truetype");
	unicode-range:
		U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304,
		U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020,
		U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* be-vietnam-pro-vietnamese-100-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 100;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-100-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-100-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-100-italic.ttf)
		format("truetype");
	unicode-range:
		U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
		U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
		U+1EA0-1EF9, U+20AB;
}

/* be-vietnam-pro-vietnamese-200-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 200;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-200-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-200-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-200-italic.ttf)
		format("truetype");
	unicode-range:
		U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
		U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
		U+1EA0-1EF9, U+20AB;
}

/* be-vietnam-pro-vietnamese-300-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 300;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-300-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-300-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-300-italic.ttf)
		format("truetype");
	unicode-range:
		U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
		U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
		U+1EA0-1EF9, U+20AB;
}

/* be-vietnam-pro-vietnamese-400-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 400;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-400-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-400-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-400-italic.ttf)
		format("truetype");
	unicode-range:
		U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
		U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
		U+1EA0-1EF9, U+20AB;
}

/* be-vietnam-pro-vietnamese-500-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 500;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-500-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-500-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-500-italic.ttf)
		format("truetype");
	unicode-range:
		U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
		U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
		U+1EA0-1EF9, U+20AB;
}

/* be-vietnam-pro-vietnamese-600-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 600;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-600-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-600-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-600-italic.ttf)
		format("truetype");
	unicode-range:
		U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
		U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
		U+1EA0-1EF9, U+20AB;
}

/* be-vietnam-pro-vietnamese-700-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 700;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-700-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-700-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-700-italic.ttf)
		format("truetype");
	unicode-range:
		U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
		U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
		U+1EA0-1EF9, U+20AB;
}

/* be-vietnam-pro-vietnamese-800-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 800;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-800-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-800-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-800-italic.ttf)
		format("truetype");
	unicode-range:
		U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
		U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
		U+1EA0-1EF9, U+20AB;
}

/* be-vietnam-pro-vietnamese-900-italic */
@font-face {
	font-family: "Be Vietnam Pro";
	font-style: italic;
	font-display: swap;
	font-weight: 900;
	src:
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-900-italic.woff2)
		format("woff2"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-900-italic.woff)
		format("woff"),
		url(https://cdn.jsdelivr.net/fontsource/fonts/be-vietnam-pro@latest/vietnamese-900-italic.ttf)
		format("truetype");
	unicode-range:
		U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
		U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
		U+1EA0-1EF9, U+20AB;
}
